body{
    background-color: rgb(55,110,124);
    margin: 0;
}

header{
    display: block;
    height: 50px;
    width: 100%;
    background: #000;
    margin-bottom: 50px;
}

#cr-stage{
    margin: 0 auto;
    border-radius: 10px;
}
